@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* styles.css or your global styles */
.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 1rem;
    /* Tailwind: gap-4 */
    padding: 1rem 0;
    will-change: transform;
}

.embla__slide {
    flex: 0 0 auto;
    width: 160px;
    cursor: pointer;
    transition: transform 0.3s;
}